<app-encabezado titulo="Botones Ionic"></app-encabezado>

<ion-content class="ion-padding">
  <ion-text color="primary">
    <h1>Botones en Ionic</h1>
  </ion-text>
  <ion-button>Mi botón</ion-button> 
  <ion-button expand="block" color="secondary">
    Botón con expand
  </ion-button>
  <ion-button expand="full" fill="solid" shape="round" color="tertiary">
    Botón con fill
  </ion-button>
  <ion-button expand="block" fill="solid" color="success">
    <ion-icon slot="start" name="star" size="large"></ion-icon>
    
   Botón con ícono
   
  </ion-button>
</ion-content>
