<ion-header>
  <ion-toolbar color="dark" >
    <ion-title>
      Uso de Ionic
    </ion-title>
    <ion-icon slot="end" name="person" size="large" class="ion-padding"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-text color="primary">
    <h1>Página home</h1>
    
  </ion-text>
  <ion-text color="dark">
    <p>Esta es la página inicial de la aplicación para aprender a usar <span class="chokita">IONIC</span> </p>
  </ion-text>
 <!--  <ion-text color="tertiary" routerLink="/pagina1">
    <h4>Página 1</h4>
  </ion-text>  -->
  <ion-button (click)="onClick('pagina1')" expand="full" color="primary">
    Página Iconos
  </ion-button>
  <ion-button (click)="onClick('pagina2')" expand="full" color="secondary">
    Página Botones
  </ion-button>
  <ion-button (click)="onClick('alertas')" expand="full" color="tertiary">
    Página Alertas
  </ion-button>
  <ion-button (click)="onClick('formulario')" expand="full" color="success">
    Página Formulario
  </ion-button>
</ion-content>
